/* Article */
article, body > header {
    min-width: 200px;
    max-width: 790px;
    margin: 0 auto;
    padding: 30px;
}

body > header > h1, body > header > h6 {
  text-align: center;
  text-transform: uppercase;
}

article > header {
  margin: 40px;
}

/* Language ball */
span.language {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
