
/* Article */
article, section header {
    min-width: 200px;
    max-width: 790px;
    margin: 0 auto;
    padding: 30px;
}
article header {
  margin-bottom: 50px;
}

/* Language ball */
span.language {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
