/* Header & Footer */
body > header {
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
}
body > header.markdown-body a {
  color: black;
  text-decoration: none;
}
footer {
  padding: 30px;
  background: #f7f7f7;
}
footer.markdown-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  display: inline-block;
  line-height: 16px;
  color: #777;
  font-size: 12px;
  margin-left: 10px;
}

/* Article */
article {
  min-width: 200px;
  max-width: 790px;
  margin: 0 auto;
  padding: 30px;
}

article > header {
  margin: 40px;
}

/* Language ball */
span.language {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* helpers */
.right {
  float: right;
}
