
.highlight { background-color: #ffffcc }
.pl-c { color: #888888 } /* Comment */
.pl-err { color: #a61717; background-color: #e3d2d2 } /* Error */
.pl-k { color: #008800; font-weight: bold } /* Keyword */
.pl-cm { color: #888888 } /* Comment.Multiline */
.pl-cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.pl-c1 { color: #888888 } /* Comment.Single */
.pl-cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.pl-gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.pl-ge { font-style: italic } /* Generic.Emph */
.pl-gr { color: #aa0000 } /* Generic.Error */
.pl-gh { color: #303030 } /* Generic.Heading */
.pl-gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.pl-go { color: #888888 } /* Generic.Output */
.pl-gp { color: #555555 } /* Generic.Prompt */
.pl-gs { font-weight: bold } /* Generic.Strong */
.pl-gu { color: #606060 } /* Generic.Subheading */
.pl-gt { color: #aa0000 } /* Generic.Traceback */
.pl-kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.pl-kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.pl-kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.pl-kp { color: #008800 } /* Keyword.Pseudo */
.pl-kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.pl-kt { color: #888888; font-weight: bold } /* Keyword.Type */
.pl-m { color: #0000DD; font-weight: bold } /* Literal.Number */
.pl-s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.pl-na { color: #336699 } /* Name.Attribute */
.pl-nb { color: #003388 } /* Name.Builtin */
.pl-nc { color: #bb0066; font-weight: bold } /* Name.Class */
.pl-no { color: #003366; font-weight: bold } /* Name.Constant */
.pl-nd { color: #555555 } /* Name.Decorator */
.pl-ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.pl-nf { color: #0066bb; font-weight: bold } /* Name.Function */
.pl-nl { color: #336699; font-style: italic } /* Name.Label */
.pl-nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.pl-py { color: #336699; font-weight: bold } /* Name.Property */
.pl-nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.pl-nv { color: #336699 } /* Name.Variable */
.pl-ow { color: #008800 } /* Operator.Word */
.pl-w { color: #bbbbbb } /* Text.Whitespace */
.pl-mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.pl-mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.pl-mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.pl-mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.pl-sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.pl-sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.pl-sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.pl-s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.pl-se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.pl-sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.pl-si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.pl-sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.pl-sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.pl-s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.pl-ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.pl-bp { color: #003388 } /* Name.Builtin.Pseudo */
.pl-vc { color: #336699 } /* Name.Variable.Class */
.pl-vg { color: #dd7700 } /* Name.Variable.Global */
.pl-vi { color: #3333bb } /* Name.Variable.Instance */
.pl-il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
