 .highlight {
margin-bottom:16px;
}

 .highlight pre, pre {
overflow:auto;
font-size:85%;
line-height:1.45;
background-color:#f7f7f7;
border-radius:3px;
padding:16px;
}

 .highlight pre {
margin-bottom:0;
word-break:normal;
}

 pre {
word-wrap:normal;
}

 pre code, pre tt {
display:inline;
max-width:initial;
overflow:initial;
line-height:inherit;
word-wrap:normal;
background-color:transparent;
border:0;
margin:0;
padding:0;
}

 pre code:before, pre code:after, pre tt:before, pre tt:after {
content:normal;
}

 kbd {
display:inline-block;
font-size:11px;
line-height:10px;
color:#555;
vertical-align:middle;
background-color:#fcfcfc;
border:solid 1px #ccc;
border-bottom-color:#bbb;
border-radius:3px;
box-shadow:inset 0 -1px 0 #bbb;
padding:3px 5px;
}

.pl-s .pl-s1,.pl-smi {
color:#333;
}

.pl-id {
color:#b52a1d;
}

.pl-ii {
background-color:#b52a1d;
color:#f8f8f8;
}

.pl-sr .pl-cce {
color:#63a35c;
font-weight:700;
}

.pl-mh,.pl-mh .pl-en,.pl-ms {
color:#1d3e81;
font-weight:700;
}

.pl-mq {
color:teal;
}

.pl-mi {
color:#333;
font-style:italic;
}

.pl-mb {
color:#333;
font-weight:700;
}

.pl-md {
background-color:#ffecec;
color:#bd2c00;
}

.pl-mi1 {
background-color:#eaffea;
color:#55a532;
}

.pl-mdr {
color:#795da3;
font-weight:700;
}
.pl-c,.ace_comment {
color:#969896;
}

.pl-c1,.pl-s .pl-v,.ace_constant,.ace_support,.ace_support.ace_constant {
color:#0086b3;
}

.pl-e,.pl-en,.ace_entity.ace_name {
color:#795da3;
}

.pl-s .pl-s1,.pl-smi,.select-menu-tabs a:hover,.select-menu-item.select-menu-action,.select-menu-item.selected,.select-menu-item.select-menu-action>.octicon,.select-menu-item.selected>.octicon,.discussion-item-ref-title .title-link,.newsletter-frequency-choice .choice.selected p,.issue-list-meta a,.repository-lang-stats ol.repository-lang-stats-numbers li .lang,.list-group-item-link {
color:#333;
}

.pl-ent,.ace_entity.ace_name.ace_tag {
color:#63a35c;
}

.pl-k,.ace_keyword,.ace_support.ace_type,.ace_storage,.ace_storage.ace_type {
color:#a71d5d;
}

.pl-pds,.pl-s,.pl-s .pl-pse .pl-s1,.pl-sr,.pl-sr .pl-cce,.pl-sr .pl-sra,.pl-sr .pl-sre,.ace_string,.ace_string.ace_regexp {
color:#183691;
}

.pl-v,.ace_variable {
color:#ed6a43;
}

.pl-ml,.ace_markup.ace_list {
color:#693a17;
}

.pl-mb,.discussion-item .renamed-was,.discussion-item .renamed-is {
color:#333;
font-weight:700;
}

.pl-mo,.ace_markup.ace_heading {
color:#1d3e81;
}
